.wrapper {
  max-width: 960px;
  background: lightgray;
  padding-left: 10%;
}
.header {
  background-color: #ffffff;
  height: 150px;
  position: relative;
  border-color: #cccccc;
  font-family: "Georgia", Times, Times New Roman, serif;
}
.content {
  background: white;
}
.page {
  padding-top: 40px;
}
h2 {
  color: lightseagreen;
}
h3 {
  color: lightseagreen;
}
.pname {
  color: white;
}
.myName {
  background-color: #4aaaa5;
  height: 80px;
  width: 40%;
  position: absolute;
  bottom: 0;
  font-size: 40px;
  padding-bottom: 40px;
  padding-left: 30px;
}
.links {
  color: gray;
  position: absolute;
  bottom: 20%;
  right: 20px;
}
.actualBody {
  position: relative;
  height: 200px;
  padding-left: 200px;
}
.pagebodyHeader {
  float: none;
}
.image {
  position: absolute;
  width: 200px;
  height: auto;
  float: left;
  width: 170px;
  height: 170px;
}
.aboutMe {
  font-family: "Georgia", Times, Times New Roman, serif;
}
.ptext {
  text: #777777;
  font-size: 20px;
  line-height: 30px;
}
hr {
}
.p1 {
  margin-left: 200px;
}
.mainBody {
  background-color: #ffffff;
  border-color: #464141;
  font-size: 20px;
  line-height: 30px;
  padding: 40px;
}

.footer1 {
  background-color: #4aaaa5;
  width: 960px;
  height: 10px;
}
.footer2 {
  background-color: grey;
  width: 960px;
  height: 30px;
}

.portfolioimages {
  float: left;
  width: 200px;
  padding-left: 20px;
  padding-bottom: 40px;
  padding-right: 20px;
}
.blankcel {
  float: left;
  width: 200px;
  padding-left: 20px;
  padding-bottom: 40px;
  padding-top: 20px;
  height: 200px;
}
.button {
  color: white;
  background-color: #4aaaa5;
  font-size: 20px;
  margin-bottom: 12px;
}
